@page "/rewards"
@layout MainLayout

@inject DialogService DialogService

<RadzenStack AlignItems="AlignItems.Center" class="w-100">
    <RadzenRow class="w-100" Style="position: relative;">
        <RadzenColumn Size="11">
            <RadzenTextBox Placeholder="Search..."
                           @bind-Value="_searchTerm"
                           Change="@ApplySearch"
                           Style="width: 100%; color: black;" />
        </RadzenColumn>
        <div style="position: absolute; right: 0;">
            <RadzenButton Icon="filter_list" Click="@OpenSideDialog" Style="background-color: green; width: 40px; height: 40px;" />
        </div>
    </RadzenRow>

    <RadzenStack>
       @if (_filteredRewards != null && _filteredRewards.Count > 0)
    {
            @foreach (var reward in _filteredRewards)
            {
                <RadzenCard Style="margin: 0; padding: 0; max-width: 700px; position: relative;">
                    <RadzenRow Style="margin: 0;">
                    <RadzenColumn Size="5" Style="padding: 0;">
                        <RadzenCard Style="padding: 0; overflow: hidden; height: 100%; border: none;">
                            <div style="position: relative; width: 100%; height: 100%; margin: 0;">
                                <RadzenBadge Text="@reward.Category"
                                             Style="background-color: #28a745; color: white; padding: 3px 7px; border-radius: 5px; position: absolute; top: 10px; left: 10px; z-index: 1; margin: 0;" />
                                <RadzenImage Path="@reward.ImageUrl"
                                             Style="width: 100%; height: 100%; object-fit: cover; margin: 0;" />
                            </div>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn Size="7" Style="display: flex; flex-direction: column; justify-content: space-between; padding: 15px;">
                        <div style="position: relative; margin: 0;">
                            <RadzenText Text="@reward.Name" TextStyle="TextStyle.H4" Style="margin-bottom: 5px;" />
                        </div>
                        <RadzenText class="rz-mb-2">@reward.Description</RadzenText>
                        <RadzenText class="rz-mb-2"><strong>Points: @reward.Points</strong></RadzenText>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div style="margin-right: auto; text-align: start;">Qty: @reward.Quantity</div>
                                <RadzenButton Text="Claim" Click="@(args => ShowConfirmationDialog(reward))"
                                              Style="background-color: green; color: white; padding: 5px 10px; font-size: 14px;" />

                        </div>

                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
            }
        }
        else
        {
            <RadzenText Text="No Rewards found." TextStyle="TextStyle.H5" />
        }
    </RadzenStack>
</RadzenStack>

@code {

    private async Task ShowConfirmationDialog(Reward reward)
    {
        var result = await DialogService.Confirm("Are you sure you want to claim this reward?", "Confirm",
    new ConfirmOptions()
        {
            OkButtonText = "Confirm",
            CloseDialogOnOverlayClick = true,
            CancelButtonText = "Cancel",
            
        });

        if (result == true)
        {
            ClaimReward(reward);
        }
    }

    void ClaimReward(Reward reward)
    {

        _NotifService.Notify(new NotificationMessage
        {
            Style = "width: 90%; border-radius: 20px; position: fixed; top: 5px; left: 50%; transform: translateX(-50%); color: white;",
            Severity = NotificationSeverity.Success,
            Summary = "Success",
            Detail = "Reward claimed successfully!",
            Duration= 3000,
            CloseOnClick = true
        });
    }
    // private async Task OpenSideDialog()
    // {
    //     await DialogService.OpenSideAsync<FilterDialog>("Filter", options: new SideDialogOptions
    //         {
    //             CloseDialogOnOverlayClick = true,
    //             Position = DialogPosition.Top,
    //             ShowMask = true
    //         });
    // }
}